doctype html
html(lang='pt')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title #{title} | Inquirições de Génere
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet' href='/stylesheets/w3.css')
    link(rel='icon' href='/images/padre.png')

  body
    //- Barra de navegação
    nav.w3-bar.w3-dark-grey
      a.w3-bar-item.w3-button.w3-large(href='/') 📜 Inquirições de Génere
      a.w3-bar-item.w3-button(href='/inquiricoes') Registos
      .w3-dropdown-hover
        button.w3-button Índices ▾
        .w3-dropdown-content.w3-bar-block.w3-card
          a.w3-bar-item.w3-button(href='/indice/nomes') Antroponímico
          a.w3-bar-item.w3-button(href='/indice/lugares') Toponímico
          a.w3-bar-item.w3-button(href='/indice/datas') Cronológico
      if utilizador
        a.w3-bar-item.w3-button(href='/sugestoes') Caixa de Sugestoes
        if utilizador.nivel === 'administrador'
          a.w3-bar-item.w3-button(href='/inquiricoes/novo') + Novo Registo
        a.w3-bar-item.w3-button.w3-right(href='/logout') Sair (#{utilizador.username})
      else
        a.w3-bar-item.w3-button.w3-right(href='/registo') Registar
        a.w3-bar-item.w3-button.w3-right(href='/login') Login

    //- Conteúdo principal
    main.w3-container.w3-margin-top
      block content

    //- Rodapé
    footer.w3-container.w3-dark-grey.w3-margin-top.w3-padding
      p.w3-small.w3-center Arquivo Distrital de Braga / Universidade do Minho &mdash; #{date}
