extends ../layout

block content
  .auth-card
    h2 Criar Conta
    if erro
      .alert.alert-error.mb-2 #{erro}
    form(action='/registo' method='POST')
      .form-group
        label Username
        input(type='text' name='username' required autofocus)
      .form-group
        label Password
        input(type='password' name='password' required)
      .form-group
        label Email
        input(type='email' name='email' required)
      .form-group
        label Filiação
        select(name='filiacao' required)
          option(value='') -- Seleciona --
          option(value='estudante') Estudante
          option(value='docente') Docente
          option(value='investigador') Investigador
          option(value='outro') Outro
      .form-group
        label Idade
        input(type='number' name='idade' min='1' required)
      .form-group
        label Nível
        select(name='nivel' required)
          option(value='') -- Seleciona --
          option(value='consumidor') Consumidor
          option(value='administrador') Administrador
      button.btn.btn-primary.btn-block(type='submit') Registar
    .mt-2
      p.muted.small Já tens conta? #[a(href='/login') Faz login]
